<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iMenu Application</title>


    <link href="~/content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/content/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/content/css/fontawesome-stars-o.min.css" rel="stylesheet" />
    <link href="~/content/css/responsive-style.css" rel="stylesheet" />
    <link href="~/content/css/custom.css" rel="stylesheet" />
    <link href="~/Content/css/colors/theme-color-1.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900%7CLato:300,400i,900%7CRaleway:100,300,300i,400,500,500i,600,700">
    
</head>
<body>
    
   
        @RenderBody()
      
    <script src="~/Content/js/isotope.min.js"></script>
    <script src="~/content/js/jquery-3.2.1.min.js"></script>
    <script src="~/content/js/jquery-ui.min.js"></script>
    <script src="~/content/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/content/js/bootstrap.min.js"></script>
    <script src="~/content/js/jquery.sticky.min.js"></script>
    <script src="~/content/js/owl.carousel.min.js"></script>
    <script src="~/content/js/jquery.waypoints.min.js"></script>
    <script src="~/content/js/jquery.counterup.min.js"></script>
    <script src="~/content/js/jquery.countdown.min.js"></script>
    <script src="~/content/js/jquery.validate.min.js"></script>
    @*<script src="~/content/js/color-switcher.min.js"></script>*@
    <script src="~/content/js/jquery.zoom.min.js"></script>
    <script src="~/content/js/jquery.barrating.min.js"></script>
    <script src="~/content/js/scrollreveal.min.js"></script>
    <script src="~/content/js/retina.min.js"></script>
    <script src="~/content/js/main.js"></script>


    <script src="../../../../../ajax.cloudflare.com/cdn-cgi/scripts/78d64697/cloudflare-static/email-decode.min.js"></script>
   
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK9f7sXWmqQ1E-ufRXV3VpXOn_ifKsDuc"></script>
   
</body>
</html>
    