<body>
  
    <div class="wrapper">
        <header class="header--section">
            <div class="header--topbar">
                <div class="container">

                    <div class="col-md-offset-1 col-md-10">

                        <div class="col-md-6">
                            <ul class="nav social">
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </li>

                            </ul>
                        </div>

                        <div class="col-md-6">
                            <ul class="nav links float--right">
                                <li>
                                    <a href="#">
                                        <i class="text-c--main mr--8 fa fa-envelope-o"></i><span>Email Us</span>
                                    </a>
                                </li>
                                <li class="hidden-xs">
                                    <a href="#">
                                        <i class="text-c--main mr--8 fa fa-volume-control-phone"></i><span>000 456 123 9870</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        

                        

                    </div>
                 </div>
            </div>
            <nav class="header--navbar navbar" data-trigger="sticky">
                <div class="container">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="col-md-10">
                            <div class="navbar-header">
                                <a href="~/Home/Index" class="navbar-brand">
                                    <img src="~/Images/imenu_logo.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>




        <section class="slider_class page--header--section pt--130 pb--50 bg--overlay" @*data-bg-img="../../images/slider_img.png"*@>
            <div class="container">
                <div class="col-md-offset-1 col-md-10">
                    
                        
                            <div class="col-md-8">
                                <h3>Takeaway Online Ordering System</h3>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>-0% Commission</h4>
                                        <h4>No Minimum Contract</h4>
                                        <h4>Costomised Website</h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="~/images/badge.png" />
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-md-4">
                                <img class="float--right" src="~/images/tab1.png" />
                            </div>

                    <div class="pt--30">
                        <a href="#" class="btn btn-lg btn-default">Start yor Free Trial<i class="ml--8 fa fa-check-circle"></i></a>
                    </div>
                        
                    
                </div>
                    

                    @*<div class="page--header-breadcrumb">
                <ol class="breadcrumb">

                    <li class="active">
                        <span>Contact</span>
                    </li>
                </ol>
            </div>
            <div class="page--header-title text-uppercase text-center">
                <h2 class="h1">Contact</h2>
            </div>

            <div class="action">
                <a href="#" class="btn btn-lg btn-default">Start yor Free Trial<i class="ml--8 fa fa-check-circle"></i></a>
            </div>*@

                </div>
        </section>
       
        
        
        
        <section class="contact--section pt--40" data-bg-img="/content/img/contact-img/bg.png">
            <div class="container">

                <div class="col-md-offset-1 col-md-10">

                    <div class="col-md-3 block">
                        <div class="circle">
                            <p>Customer places their order on your website</p>
                        </div>
                        <img src="~/Images/arrow_right.png" alt="" class="circle-arrow" />
                        <img src="~/Images/bottom.png" alt="" class="circle-arrow-mobile" />
                    </div>
                    <div class="col-md-3 block">
                        <div class="circle">
                            <p>Customer pays Online or upon Collection / Delivery</p>
                        </div>
                        <img src="~/Images/arrow_right.png" alt="" class="circle-arrow" />
                        <img src="~/Images/bottom.png" alt="" class="circle-arrow-mobile" />
                    </div>
                    <div class="col-md-3 block">
                        <div class="circle">
                            <p>Order is recieved, printed and prepared</p>
                        </div>
                        <img src="~/Images/arrow_right.png" alt="" class="circle-arrow" />
                        <img src="~/Images/bottom.png" alt="" class="circle-arrow-mobile" />
                    </div>
                    <div class="col-md-3 block">
                        <div class="circle">
                            <p>Order is Delivered or collected in Store</p>
                        </div>
                    </div>

                </div>

                <div class="row">
                    
                </div>

            </div>
        </section>
        
        <section class="contact--section pt--30">
            <div class="container">
                <div class="col-md-offset-1 col-md-10 text-center">

                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <a href="#" class="btn btn-lg btn-default">Learn More<i class="ml--8 fa fa-check-circle"></i></a>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div> 
        </section>


        @*<section class="contact--section pt--70" data-bg-img="/content/img/contact-img/bg.png">
            <div class="container">

                <div class="col-md-offset-1 col-md-10">

                    <div class="col-md-3 block">
                        <div class="circle">
                            <p>Customer places their order on your website</p>
                        </div>
                    </div>
                    <div class="col-md-3 block">
                        <div class="circle">
                            <p>Customer places their order on your website</p>
                        </div>
                    </div>
                    <div class="col-md-3 block">
                        <div class="circle">
                            <p>Customer places their order on your website</p>
                        </div>
                    </div>
                    <div class="col-md-3 block">
                        <div class="circle">
                            <p>Customer places their order on your website</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>*@

      
    </div>
    @*------------------------CHECK NOTIFY-----------------
    <div id="cookieNotify" class="hidden">
        <div class="alert bg--c-darkgray--b">
            <button class="close" data-dismiss="alert">&times;</button>
            <div class="container">
                <button data-dismiss="alert" class="btn btn-sm btn-primary float--right">GOT IT!</button>
                <p>This is a sample cookie notification bar.</p>
            </div>
        </div>
    </div>*@
    <div id="backToTop">
        <a href="#" class="btn btn-lg btn-default active"><i class="fa fa-chevron-up"></i></a>
    </div>
   
    <div class="pb--150"></div>

</body>